# Binarization
- First we combine the columns SibSp and Parch to one column Family
- We apply binarization on family columns to have two categories : 1(travelling with family), 0(traveliing without family)

## Data collection
- In the titanic dataset we have two cols 'Sibsp','Parch'.
- We'll first combine them and form a new col 'Family'
- With the help of Binarizer we'll change the values of family column to '0' and '1'

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Datasets/Titanic-Dataset.csv',usecols = ['Survived','Age','SibSp','Parch','Fare'])

In [3]:
df.head()

   Survived   Age  SibSp  Parch     Fare
0         0  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         1  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         0  35.0      0      0   8.0500

In [4]:
df['Family'] = df['SibSp'] + df['Parch']

In [5]:
df.head()

   Survived   Age  SibSp  Parch     Fare  Family
0         0  22.0      1      0   7.2500       1
1         1  38.0      1      0  71.2833       1
2         1  26.0      0      0   7.9250       0
3         1  35.0      1      0  53.1000       1
4         0  35.0      0      0   8.0500       0

In [6]:
df.drop(columns = ['SibSp','Parch'],inplace = True)

In [7]:
df.head()

   Survived   Age     Fare  Family
0         0  22.0   7.2500       1
1         1  38.0  71.2833       1
2         1  26.0   7.9250       0
3         1  35.0  53.1000       1
4         0  35.0   8.0500       0

In [8]:
df.sample(5)

     Survived   Age     Fare  Family
537         1  30.0  106.425       0
324         0   NaN   69.550      10
722         0  34.0   13.000       0
71          0  16.0   46.900       7
717         1  27.0   10.500       0

In [9]:
df.dropna(inplace=True)

In [10]:
from sklearn.preprocessing import Binarizer
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [11]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

In [12]:
dt = DecisionTreeClassifier()
accuracy_before = cross_val_score(dt,X,y,cv=10,scoring='accuracy').mean()
accuracy_before

0.6513302034428795

In [13]:
trf = ColumnTransformer([('binary',Binarizer(copy=False),[2])],remainder='passthrough')

In [14]:
X_train_transform = trf.fit_transform(X_train)

In [15]:
X_test_transform = trf.transform(X_test)

In [16]:
pd.DataFrame(X_train_transform,columns = ['family','Age','Fare'] )

     family   Age      Fare
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [17]:
dt2 = DecisionTreeClassifier()
accuracy_after = cross_val_score(dt2,X,y,cv=10,scoring='accuracy').mean()
accuracy_after

0.6541275430359936