In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('../Datasets/coursea_data.csv')

In [9]:
df.shape

(891, 7)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                891 non-null    int64
 1   course_title              891 non-null    object
 2   course_organization       891 non-null    object
 3   course_Certificate_type   891 non-null    object
 4   course_rating             891 non-null    float64
 5   course_difficulty         891 non-null    object
 6   course_students_enrolled  891 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 48.9+ KB

In [11]:
df.isnull().sum()

Unnamed: 0                  0
course_title                0
course_organization         0
course_Certificate_type     0
course_rating               0
course_difficulty           0
course_students_enrolled    0
dtype: int64

In [12]:
df.sample(5)

,Unnamed: 0,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
650,665,Perfect Tenses and Modals,"University of California, Irvine",COURSE,4.7,Intermediate,79k
662,692,Practical Time Series Analysis,The State University of New York,COURSE,4.6,Intermediate,39k
800,243,The Data Scientist’s Toolbox,Johns Hopkins University,COURSE,4.6,Mixed,420k
778,484,Systems Biology and Biotechnology,Icahn School of Medicine at Mount Sinai,SPECIALIZATION,4.4,Intermediate,48k
542,577,Leadership in 21st Century Organizations,Copenhagen Business School,COURSE,4.7,Mixed,34k

In [13]:
def convert_to_int(enrollment):
    if 'k' in enrollment:
        return int(float(enrollment.replace('k', '')) * 1000)
    elif 'm' in enrollment:
        return int(float(enrollment.replace('m', '')) * 1000000)
    return int(enrollment)
df['course_students_enrolled'] = df['course_students_enrolled'].apply(convert_to_int)

In [14]:
# Filter rows where 'course_titles' contain 'communication' (case-insensitive)
communication_courses = df[df['course_title'].str.contains('communication', case=False, na=False)]

# Sum the 'no_of_students' for the filtered rows
total_students_communication = communication_courses['course_students_enrolled'].sum()

# Display the result
print(f"Total number of students who have bought a communication course: {total_students_communication}")

Total number of students who have bought a communication course: 918000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                891 non-null    int64
 1   course_title              891 non-null    object
 2   course_organization       891 non-null    object
 3   course_Certificate_type   891 non-null    object
 4   course_rating             891 non-null    float64
 5   course_difficulty         891 non-null    object
 6   course_students_enrolled  891 non-null    int64
dtypes: float64(1), int64(2), object(4)
memory usage: 48.9+ KB

In [16]:
communication_courses

,Unnamed: 0,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
111,168,Business English Communication Skills,University of Washington,SPECIALIZATION,4.7,Intermediate,120000
145,709,Communication Skills for Engineers,Rice University,SPECIALIZATION,4.7,Beginner,15000
146,305,Communication Strategies for a Virtual Age,University of Toronto,COURSE,4.8,Beginner,43000
201,686,Data Visualization and Communication with Tableau,Duke University,COURSE,4.7,Mixed,130000
426,36,Improve Your English Communication Skills,Georgia Institute of Technology,SPECIALIZATION,4.7,Beginner,610000

In [17]:
total = df['course_students_enrolled'].sum()

In [18]:
total_students_communication/total * 100

1.1378016630743697