In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../Datasets/LinkedIn company information datasets (Public web data).csv')

FileNotFoundError: [Errno 2] No such file or directory: '../Datasets/LinkedIn company information datasets (Public web data).csv'

In [ ]:
df2 = pd.read_csv('../Datasets/LinkedIn people profiles datasets.csv')

In [ ]:
df2.sample(5)

,timestamp,id,name,city,country_code,region,current_company:company_id,current_company:name,position,following,...,people_also_viewed,educations_details,education,avatar,languages,certifications,recommendations,recommendations_count,volunteer_experience,сourses
188,2023-01-12,charlie-cowden-b2a2aa42,Charlie Cowden,"Pearcy, Arkansas, United States",US,NaN,NaN,Mystic Cottage Furniture,Owner Mystic Cottage Furniture,NaN,...,"[{""profile_link"":""https://www.linkedin.com/in/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,2021-04-25,alma-rose-daaca-5186bb206,Alma Rose Daaca,"Bukidnon, Northern Mindanao, Philippines",PH,AS,NaN,Self-employed,Administrative Support Specialist | Social Med...,29.0,...,"[{""profile_link"":""https://ph.linkedin.com/in/c...",KCAST Colleges Education KCAST Colleges Bachel...,"[{""degree"":""Bachelor of Science - Accountancy""...",https://media-exp1.licdn.com/dms/image/C4E03AQ...,NaN,NaN,NaN,NaN,NaN,NaN
705,2022-12-09,hani-salim-8358541b8,Hani Salim,"Muscat, Masqaţ, Oman",OM,AS,oman-air,Oman Air,Manager Commercial Contracts Administration at...,NaN,...,"[{""profile_link"":""https://om.linkedin.com/in/t...",Al Buraimi University College,"[{""degree"":""Master of Laws - LLM"",""end_year"":""...",https://static-exp1.licdn.com/sc/h/244xhbkr7g4...,NaN,NaN,NaN,NaN,NaN,NaN
537,2023-04-22,rosemarymendez,Rosemary Mendez,NaN,CO,NaN,smb-capital,SMB Capital,Customer Experience Manager | Executive Master...,NaN,...,"[{""profile_link"":""https://www.linkedin.com/in/...",Esade,"[{""degree"":""Executive Master in Business Analy...",https://media.licdn.com/dms/image/C4E03AQFSDdD...,"[{""subtitle"":""Native or bilingual proficiency""...","[{""meta"":""Issued Nov 2022"",""subtitle"":""Esade"",...",LinkedIn User “she has a high degree of commit...,1.0,NaN,NaN
198,2022-02-21,damian-wales,Damian Wales,Indonesia,ID,AS,NaN,NaN,NaN,13.0,...,"[{""profile_link"":""https://id.linkedin.com/in/g...",NaN,NaN,https://static-exp1.licdn.com/sc/h/244xhbkr7g4...,"[{""subtitle"":""Native or bilingual proficiency""...",NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   timestamp              1000 non-null   object
 1   id                     1000 non-null   object
 2   name                   1000 non-null   object
 3   country_code           999 non-null    object
 4   locations              1000 non-null   object
 5   formatted_locations    1000 non-null   object
 6   followers              1000 non-null   int64
 7   employees_in_linkedin  847 non-null    float64
 8   about                  998 non-null    object
 9   specialties            765 non-null    object
 10  company_size           1000 non-null   object
 11  organization_type      930 non-null    object
 12  industries             1000 non-null   object
 13  website                969 non-null    object
 14  crunchbase_url         15 non-null     object
 15  founded                996 non-null    float64
 16  company_id             1000 non-null   int64
 17  employees              848 non-null    object
 18  headquarters           999 non-null    object
 19  image                  1000 non-null   object
 20  logo                   1000 non-null   object
 21  similar                881 non-null    object
 22  sphere                 1000 non-null   object
 23  url                    1000 non-null   object
 24  type                   1000 non-null   object
 25  updates                491 non-null    object
 26  slogan                 778 non-null    object
 27  affiliated             49 non-null     object
 28  funding                15 non-null     object
 29  stock_info             0 non-null      float64
 30  investors              9 non-null      object
dtypes: float64(3), int64(2), object(26)
memory usage: 242.3+ KB

In [ ]:
df2.isnull().sum()

timestamp                       0
id                              0
name                            0
city                           51
country_code                    2
region                        544
current_company:company_id    428
current_company:name          167
position                       18
following                     519
about                         502
posts                         583
groups                        890
current_company                 0
experience                     94
url                             0
people_also_viewed            177
educations_details            318
education                     280
avatar                        190
languages                     745
certifications                816
recommendations               827
recommendations_count         827
volunteer_experience          884
сourses                       993
dtype: int64

In [ ]:
df2.shape

(1000, 26)

In [ ]:
not_null_values = df2[df2['certifications'].notnull()]

In [ ]:
print(not_null_values[['certifications']])

                                        certifications
1    [{"meta":"Issued Jun 2013","subtitle":"Van der...
4    [{"meta":"Issued Jan 2022 See credential","sub...
6    [{"meta":"Issued Apr 2012","subtitle":"ASP Con...
9    [{"meta":"Issued May 2021 Credential ID MD252W...
13   [{"meta":"","subtitle":"Coursera","title":"Cry...
..                                                 ...
986  [{"meta":"","subtitle":"American Heart Associa...
989  [{"meta":"Issued Sep 2019 Credential ID bd0baa...
990  [{"meta":"Issued Sep 2018","subtitle":"Google"...
991  [{"meta":"Issued Nov 2021 See credential","sub...
993  [{"meta":"Issued Jul 2013","subtitle":"IIA-The...

[184 rows x 1 columns]

In [ ]:
df2.duplicated().sum()

0

In [ ]:
df = not_null_values[['certifications']]

In [ ]:
import ast
def parse_and_normalize(certifications):
    # Convert the string to a list of dictionaries
    cert_list = ast.literal_eval(certifications)
    # Normalize the list of dictionaries into a DataFrame
    cert_df = pd.json_normalize(cert_list)
    return cert_df

# Apply the function to the 'certifications' column
cert_details_df_list = df['certifications'].apply(parse_and_normalize)

# Concatenate all the DataFrames in the list into a single DataFrame
cert_details_df = pd.concat(cert_details_df_list.values.tolist(), ignore_index=True)

# Filter rows where 'title' contains 'communication' (case-insensitive)
communication_certifications = cert_details_df[cert_details_df['title'].str.contains('communication', case=False, na=False)]

# Display the result
print(communication_certifications)

                                         meta  subtitle  \
564            Issued May 2022 See credential  LinkedIn
578  Ausgestellt: Apr. 2020 Nachweis anzeigen  LinkedIn

                          title
564  Communication within Teams
578  Organization Communication

In [ ]:
communication_certifications

,meta,subtitle,title
564,Issued May 2022 See credential,LinkedIn,Communication within Teams
578,Ausgestellt: Apr. 2020 Nachweis anzeigen,LinkedIn,Organization Communication

In [ ]:
df2.shape

(1000, 26)

In [ ]:
2/1000*100

0.2