# Working with JSON

In [1]:
import pandas as pd

## 1. reading json file on your local system

In [2]:
pd.read_json("../Datasets/train.json")

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

#### NOTE: refer this document https://pandas.pydata.org/docs/reference/api/pandas.read_json.html. Most of parameters are same as used in csv like nrows, usecols, parse_dates, etc

## 2. reading json files from urls
- Just paste the url in read_json

In [3]:
pd.read_json("https://api.exchangerate-api.com/v4/latest/INR")

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-29,1722211202,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-29,1722211202,0.0438
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-29,1722211202,0.8450
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-29,1722211202,1.1100
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-29,1722211202,4.6400
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-29,1722211202,1.3100
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-29,1722211202,2.9900
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-29,1722211202,0.2180
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-29,1722211202,0.3120
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-29,1722211202,0.1650

# Working with APIs

In [4]:
import requests

url = "https://imdb-top-100-movies.p.rapidapi.com/"

headers = {
	"x-rapidapi-key": "5e4a1a92dbmsh94603293ef6a7b4p16b891jsn3594df6380e4",
	"x-rapidapi-host": "imdb-top-100-movies.p.rapidapi.com"
}

response = requests.get(url, headers=headers)
response.json()

[{'rank': 1,
  'title': 'The Shawshank Redemption',
  'description': 'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.',
  'image': 'https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL75_UX380_CR0,1,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@',
  'genre': ['Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY67_CR0,0,45,67_AL_.jpg',
  'rating': '9.3',
  'id': 'top1',
  'year': 1994,
  'imdbid': 'tt0111161',
  'imdb_link': 'https://www.imdb.com/title/tt0111161'},
 {'rank': 2,
  'title': 'The Godfather',
  'description': 'The aging patriarch of an organized crime dynasty in postwar New York City transfers control of his clandestine empire to his reluctant youngest son.',
  'image': 'https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UY562_CR8,0,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UY562_CR8,0,380,562_.jpg',
  'genre': ['Crime', 'Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY67_CR1,0,45,67_AL_.jpg',
  'rating': '9.2',
  'id': 'top2',
  'year': 1972,
  'imdbid': 'tt0068646',
  'imdb_link': 'https://www.imdb.com/title/tt0068646'},
 {'rank': 3,
  'title': 'The Dark Knight',
  'description': 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.',
  'image': 'https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_QL75_UX380_CR0,0,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_QL75_UX380_CR0,0,380,562_.jpg',
  'genre': ['Action', 'Crime', 'Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg',
  'rating': '9.0',
  'id': 'top3',
  'year': 2008,
  'imdbid': 'tt0468569',
  'imdb_link': 'https://www.imdb.com/title/tt0468569'},
 {'rank': 4,
  'title': 'The Godfather Part II',
  'description': 'The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.',
  'image': 'https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UY562_CR7,0,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UY562_CR7,0,380,562_.jpg',
  'genre': ['Crime', 'Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY67_CR1,0,45,67_AL_.jpg',
  'rating': '9.0',
  'id': 'top4',
  'year': 1974,
  'imdbid': 'tt0071562',
  'imdb_link': 'https://www.imdb.com/title/tt0071562'},
 {'rank': 5,
  'title': '12 Angry Men',
  'description': 'The jury in a New York City murder trial is frustrated by a single member whose skeptical caution forces them to more carefully consider the evidence before jumping to a hasty verdict.',
  'image': 'https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_QL75_UX380_CR0,11,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_QL75_UX380_CR0,11,380,562_.jpg',
  'genre': ['Crime', 'Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX45_CR0,0,45,67_AL_.jpg',
  'rating': '9.0',
  'id': 'top5',
  'year': 1957,
  'imdbid': 'tt0050083',
  'imdb_link': 'https://www.imdb.com/title/tt0050083'},
 {'rank': 6,
  'title': "Schindler's List",
  'description': 'In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.',
  'image': 'https://m.media-amazon.com/images/M/MV5BNDE4OTMxMTctNmRhYy00NWE2LTg3YzItYTk3M2UwOTU5Njg4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_QL75_UX380_CR0,4,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BNDE4OTMxMTctNmRhYy00NWE2LTg3YzItYTk3M2UwOTU5Njg4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_QL75_UX380_CR0,4,380,562_.jpg',
  'genre': ['Biography', 'Drama', 'History'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BNDE4OTMxMTctNmRhYy00NWE2LTg3YzItYTk3M2UwOTU5Njg4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX45_CR0,0,45,67_AL_.jpg',
  'rating': '9.0',
  'id': 'top6',
  'year': 1993,
  'imdbid': 'tt0108052',
  'imdb_link': 'https://www.imdb.com/title/tt0108052'},
 {'rank': 7,
  'title': 'The Lord of the Rings: The Return of the King',
  'description': "Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.",
  'image': 'https://m.media-amazon.com/images/M/MV5BNzA5ZDNlZWMtM2NhNS00NDJjLTk4NDItYTRmY2EwMWZlMTY3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UX380_CR0,0,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BNzA5ZDNlZWMtM2NhNS00NDJjLTk4NDItYTRmY2EwMWZlMTY3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UX380_CR0,0,380,562_.jpg',
  'genre': ['Action', 'Adventure', 'Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BNzA5ZDNlZWMtM2NhNS00NDJjLTk4NDItYTRmY2EwMWZlMTY3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY67_CR0,0,45,67_AL_.jpg',
  'rating': '9.0',
  'id': 'top7',
  'year': 2003,
  'imdbid': 'tt0167260',
  'imdb_link': 'https://www.imdb.com/title/tt0167260'},
 {'rank': 8,
  'title': 'Pulp Fiction',
  'description': 'The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.',
  'image': 'https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UY562_CR3,0,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UY562_CR3,0,380,562_.jpg',
  'genre': ['Crime', 'Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY67_CR0,0,45,67_AL_.jpg',
  'rating': '8.9',
  'id': 'top8',
  'year': 1994,
  'imdbid': 'tt0110912',
  'imdb_link': 'https://www.imdb.com/title/tt0110912'},
 {'rank': 9,
  'title': 'The Lord of the Rings: The Fellowship of the Ring',
  'description': 'A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.',
  'image': 'https://m.media-amazon.com/images/M/MV5BN2EyZjM3NzUtNWUzMi00MTgxLWI0NTctMzY4M2VlOTdjZWRiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_QL75_UX380_CR0,1,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BN2EyZjM3NzUtNWUzMi00MTgxLWI0NTctMzY4M2VlOTdjZWRiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@',
  'genre': ['Action', 'Adventure', 'Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BN2EyZjM3NzUtNWUzMi00MTgxLWI0NTctMzY4M2VlOTdjZWRiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_UY67_CR0,0,45,67_AL_.jpg',
  'rating': '8.8',
  'id': 'top9',
  'year': 2001,
  'imdbid': 'tt0120737',
  'imdb_link': 'https://www.imdb.com/title/tt0120737'},
 {'rank': 10,
  'title': 'The Good, the Bad and the Ugly',
  'description': 'A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.',
  'image': 'https://m.media-amazon.com/images/M/MV5BNjJlYmNkZGItM2NhYy00MjlmLTk5NmQtNjg1NmM2ODU4OTMwXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_QL75_UX380_CR0,4,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BNjJlYmNkZGItM2NhYy00MjlmLTk5NmQtNjg1NmM2ODU4OTMwXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_QL75_UX380_CR0,4,380,562_.jpg',
  'genre': ['Adventure', 'Western'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BNjJlYmNkZGItM2NhYy00MjlmLTk5NmQtNjg1NmM2ODU4OTMwXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_UX45_CR0,0,45,67_AL_.jpg',
  'rating': '8.8',
  'id': 'top10',
  'year': 1966,
  'imdbid': 'tt0060196',
  'imdb_link': 'https://www.imdb.com/title/tt0060196'},
 {'rank': 11,
  'title': 'Forrest Gump',
  'description': 'The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart.',
  'image': 'https://m.media-amazon.com/images/M/MV5BNWIwODRlZTUtY2U3ZS00Yzg1LWJhNzYtMmZiYmEyNmU1NjMzXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_QL75_UY562_CR4,0,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BNWIwODRlZTUtY2U3ZS00Yzg1LWJhNzYtMmZiYmEyNmU1NjMzXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_QL75_UY562_CR4,0,380,562_.jpg',
  'genre': ['Drama', 'Romance'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BNWIwODRlZTUtY2U3ZS00Yzg1LWJhNzYtMmZiYmEyNmU1NjMzXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UY67_CR0,0,45,67_AL_.jpg',
  'rating': '8.8',
  'id': 'top11',
  'year': 1994,
  'imdbid': 'tt0109830',
  'imdb_link': 'https://www.imdb.com/title/tt0109830'},
 {'rank': 12,
  'title': 'Fight Club',
  'description': 'An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.',
  'image': 'https://m.media-amazon.com/images/M/MV5BNDIzNDU0YzEtYzE5Ni00ZjlkLTk5ZjgtNjM3NWE4YzA3Nzk3XkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_QL75_UX380_CR0,1,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BNDIzNDU0YzEtYzE5Ni00ZjlkLTk5ZjgtNjM3NWE4YzA3Nzk3XkEyXkFqcGdeQXVyMjUzOTY1NTc@',
  'genre': ['Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BNDIzNDU0YzEtYzE5Ni00ZjlkLTk5ZjgtNjM3NWE4YzA3Nzk3XkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_UY67_CR0,0,45,67_AL_.jpg',
  'rating': '8.8',
  'id': 'top12',
  'year': 1999,
  'imdbid': 'tt0137523',
  'imdb_link': 'https://www.imdb.com/title/tt0137523'},
 {'rank': 13,
  'title': 'The Lord of the Rings: The Two Towers',
  'description': "While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the divided fellowship makes a stand against Sauron's new ally, Saruman, and his hordes of Isengard.",
  'image': 'https://m.media-amazon.com/images/M/MV5BZGMxZTdjZmYtMmE2Ni00ZTdkLWI5NTgtNjlmMjBiNzU2MmI5XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_QL75_UX380_CR0,14,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BZGMxZTdjZmYtMmE2Ni00ZTdkLWI5NTgtNjlmMjBiNzU2MmI5XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_QL75_UX380_CR0,14,380,562_.jpg',
  'genre': ['Action', 'Adventure', 'Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BZGMxZTdjZmYtMmE2Ni00ZTdkLWI5NTgtNjlmMjBiNzU2MmI5XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX45_CR0,0,45,67_AL_.jpg',
  'rating': '8.8',
  'id': 'top13',
  'year': 2002,
  'imdbid': 'tt0167261',
  'imdb_link': 'https://www.imdb.com/title/tt0167261'},
 {'rank': 14,
  'title': 'Inception',
  'description': 'A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.',
  'image': 'https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_QL75_UX380_CR0,0,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_QL75_UX380_CR0,0,380,562_.jpg',
  'genre': ['Action', 'Adventure', 'Sci-Fi'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_UY67_CR0,0,45,67_AL_.jpg',
  'rating': '8.7',
  'id': 'top14',
  'year': 2010,
  'imdbid': 'tt1375666',
  'imdb_link': 'https://www.imdb.com/title/tt1375666'},
 {'rank': 15,
  'title': 'Star Wars: Episode V - The Empire Strikes Back',
  'description': 'After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.',
  'image': 'https://m.media-amazon.com/images/M/MV5BYmU1NDRjNDgtMzhiMi00NjZmLTg5NGItZDNiZjU5NTU4OTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UX380_CR0,15,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BYmU1NDRjNDgtMzhiMi00NjZmLTg5NGItZDNiZjU5NTU4OTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UX380_CR0,15,380,562_.jpg',
  'genre': ['Action', 'Adventure', 'Fantasy'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BYmU1NDRjNDgtMzhiMi00NjZmLTg5NGItZDNiZjU5NTU4OTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UX45_CR0,0,45,67_AL_.jpg',
  'rating': '8.7',
  'id': 'top15',
  'year': 1980,
  'imdbid': 'tt0080684',
  'imdb_link': 'https://www.imdb.com/title/tt0080684'},
 {'rank': 16,
  'title': 'The Matrix',
  'description': 'When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence.',
  'image': 'https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_QL75_UX380_CR0,4,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_QL75_UX380_CR0,4,380,562_.jpg',
  'genre': ['Action', 'Sci-Fi'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX45_CR0,0,45,67_AL_.jpg',
  'rating': '8.7',
  'id': 'top16',
  'year': 1999,
  'imdbid': 'tt0133093',
  'imdb_link': 'https://www.imdb.com/title/tt0133093'},
 {'rank': 17,
  'title': 'Goodfellas',
  'description': 'The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.',
  'image': 'https://m.media-amazon.com/images/M/MV5BY2NkZjEzMDgtN2RjYy00YzM1LWI4ZmQtMjIwYjFjNmI3ZGEwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UX380_CR0,3,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BY2NkZjEzMDgtN2RjYy00YzM1LWI4ZmQtMjIwYjFjNmI3ZGEwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UX380_CR0,3,380,562_.jpg',
  'genre': ['Biography', 'Crime', 'Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BY2NkZjEzMDgtN2RjYy00YzM1LWI4ZmQtMjIwYjFjNmI3ZGEwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UX45_CR0,0,45,67_AL_.jpg',
  'rating': '8.7',
  'id': 'top17',
  'year': 1990,
  'imdbid': 'tt0099685',
  'imdb_link': 'https://www.imdb.com/title/tt0099685'},
 {'rank': 18,
  'title': 'Spider-Man: Across the Spider-Verse',
  'description': 'Miles Morales catapults across the Multiverse, where he encounters a team of Spider-People charged with protecting its very existence. When the heroes clash on how to handle a new threat, Miles must redefine what it means to be a hero.',
  'image': 'https://m.media-amazon.com/images/M/MV5BMzI0NmVkMjEtYmY4MS00ZDMxLTlkZmEtMzU4MDQxYTMzMjU2XkEyXkFqcGdeQXVyMzQ0MzA0NTM@.._V1_QL75_UX380_CR0,0,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BMzI0NmVkMjEtYmY4MS00ZDMxLTlkZmEtMzU4MDQxYTMzMjU2XkEyXkFqcGdeQXVyMzQ0MzA0NTM@.._V1_QL75_UX380_CR0,0,380,562_.jpg',
  'genre': ['Animation', 'Action', 'Adventure'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BMzI0NmVkMjEtYmY4MS00ZDMxLTlkZmEtMzU4MDQxYTMzMjU2XkEyXkFqcGdeQXVyMzQ0MzA0NTM@.._V1_UY67_CR0,0,45,67_AL_.jpg',
  'rating': '8.7',
  'id': 'top18',
  'year': 2023,
  'imdbid': 'tt9362722',
  'imdb_link': 'https://www.imdb.com/title/tt9362722'},
 {'rank': 19,
  'title': 'Interstellar',
  'description': "A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.",
  'image': 'https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL75_UX380_CR0,0,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL75_UX380_CR0,0,380,562_.jpg',
  'genre': ['Adventure', 'Drama', 'Sci-Fi'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY67_CR0,0,45,67_AL_.jpg',
  'rating': '8.7',
  'id': 'top19',
  'year': 2014,
  'imdbid': 'tt0816692',
  'imdb_link': 'https://www.imdb.com/title/tt0816692'},
 {'rank': 20,
  'title': "One Flew Over the Cuckoo's Nest",
  'description': 'In the Fall of 1963, a Korean War veteran and criminal pleads insanity and is admitted to a mental institution, where he rallies up the scared patients against the tyrannical nurse.',
  'image': 'https://m.media-amazon.com/images/M/MV5BZjA0OWVhOTAtYWQxNi00YzNhLWI4ZjYtNjFjZTEyYjJlNDVlL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_QL75_UX380_CR0,1,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BZjA0OWVhOTAtYWQxNi00YzNhLWI4ZjYtNjFjZTEyYjJlNDVlL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@',
  'genre': ['Drama'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BZjA0OWVhOTAtYWQxNi00YzNhLWI4ZjYtNjFjZTEyYjJlNDVlL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UY67_CR0,0,45,67_AL_.jpg',
  'rating': '8.6',
  'id': 'top20',
  'year': 1975,
  'imdbid': 'tt0073486',
  'imdb_link': 'https://www.imdb.com/title/tt0073486'},
 {'rank': 21,
  'title': 'Se7en',
  'description': 'Two detectives, a rookie and a veteran, hunt a serial killer who uses the seven deadly sins as his motives.',
  'image': 'https://m.media-amazon.com/images/M/MV5BOTUwODM5MTctZjczMi00OTk4LTg3NWUtNmVhMTAzNTNjYjcyXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_QL75_UX380_CR0,16,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BOTUwODM5MTctZjczMi00OTk4LTg3NWUtNmVhMTAzNTNjYjcyXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_QL75_UX380_CR0,16,380,562_.jpg',
  'genre': ['Crime', 'Drama', 'Mystery'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BOTUwODM5MTctZjczMi00OTk4LTg3NWUtNmVhMTAzNTNjYjcyXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX45_CR0,0,45,67_AL_.jpg',
  'rating': '8.6',
  'id': 'top21',
  'year': 1995,
  'imdbid': 'tt0114369',
  'imdb_link': 'https://www.imdb.com/title/tt0114369'},
 {'rank': 22,
  'title': "It's a Wonderful Life",
  'description': 'An angel is sent from Heaven to help a desperately frustrated businessman by showing him what life would have been like if he had never existed.',
  'image': 'https://m.media-amazon.com/images/M/MV5BZjc4NDZhZWMtNGEzYS00ZWU2LThlM2ItNTA0YzQ0OTExMTE2XkEyXkFqcGdeQXVyNjUwMzI2NzU@._V1_QL75_UY562_CR3,0,380,562_.jpg',
  'big_image': 'https://m.media-amazon.com/images/M/MV5BZjc4NDZhZWMtNGEzYS00ZWU2LThlM2ItNTA0YzQ0OTExMTE2XkEyXkFqcGdeQXVyNjUwMzI2NzU@._V1_QL75_UY562_CR3,0,380,562_.jpg',
  'genre': ['Drama', 'Family', 'Fantasy'],
  'thumbnail': 'https://m.media-amazon.com/images/M/MV5BZjc4NDZhZWMtNGEzYS00ZWU2LThlM2ItNTA0YzQ0OTExMTE2XkEyXkFqcGdeQXVyNjUwMzI2NzU@._V1_UY67_CR0,0,45,67_AL_.jpg',
  'rating': '8.6',
  'id': 'top22',
  'year': 1946,
  'imdbid': 'tt0038650',
  'imdb_link': 'https://www.imdb.com/title/tt0038650'},
 {'rank': 23,
  'title': 'Seven Samurai',
  'description': 'Farmers from a village exploited by bandits hire a veteran samurai for protection, who gathers six other samurai to join him. As the samurai teach the peasants how to defend themselves, the village is attacked by an army of bandits.',

In [5]:
df = pd.DataFrame(response.json())

In [6]:
df

,rank,title,description,image,big_image,genre,thumbnail,rating,id,year,imdbid,imdb_link
0,1,The Shawshank Redemption,Two imprisoned men bond over a number of years...,https://m.media-amazon.com/images/M/MV5BMDFkYT...,https://m.media-amazon.com/images/M/MV5BMDFkYT...,[Drama],https://m.media-amazon.com/images/M/MV5BMDFkYT...,9.3,top1,1994,tt0111161,https://www.imdb.com/title/tt0111161
1,2,The Godfather,The aging patriarch of an organized crime dyna...,https://m.media-amazon.com/images/M/MV5BM2MyNj...,https://m.media-amazon.com/images/M/MV5BM2MyNj...,"[Crime, Drama]",https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,top2,1972,tt0068646,https://www.imdb.com/title/tt0068646
2,3,The Dark Knight,When the menace known as the Joker wreaks havo...,https://m.media-amazon.com/images/M/MV5BMTMxNT...,https://m.media-amazon.com/images/M/MV5BMTMxNT...,"[Action, Crime, Drama]",https://m.media-amazon.com/images/M/MV5BMTMxNT...,9.0,top3,2008,tt0468569,https://www.imdb.com/title/tt0468569
3,4,The Godfather Part II,The early life and career of Vito Corleone in ...,https://m.media-amazon.com/images/M/MV5BMWMwMG...,https://m.media-amazon.com/images/M/MV5BMWMwMG...,"[Crime, Drama]",https://m.media-amazon.com/images/M/MV5BMWMwMG...,9.0,top4,1974,tt0071562,https://www.imdb.com/title/tt0071562
4,5,12 Angry Men,The jury in a New York City murder trial is fr...,https://m.media-amazon.com/images/M/MV5BMWU4N2...,https://m.media-amazon.com/images/M/MV5BMWU4N2...,"[Crime, Drama]",https://m.media-amazon.com/images/M/MV5BMWU4N2...,9.0,top5,1957,tt0050083,https://www.imdb.com/title/tt0050083
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Reservoir Dogs,When a simple jewelry heist goes horribly wron...,https://m.media-amazon.com/images/M/MV5BZmExNm...,https://m.media-amazon.com/images/M/MV5BZmExNm...,"[Crime, Thriller]",https://m.media-amazon.com/images/M/MV5BZmExNm...,8.3,top96,1992,tt0105236,https://www.imdb.com/title/tt0105236
96,97,Ikiru,A bureaucrat tries to find meaning in his life...,https://m.media-amazon.com/images/M/MV5BYWM1Ym...,https://m.media-amazon.com/images/M/MV5BYWM1Ym...,[Drama],https://m.media-amazon.com/images/M/MV5BYWM1Ym...,8.3,top97,1952,tt0044741,https://www.imdb.com/title/tt0044741
97,98,Lawrence of Arabia,"The story of T.E. Lawrence, the English office...",https://m.media-amazon.com/images/M/MV5BYWY5Zj...,https://m.media-amazon.com/images/M/MV5BYWY5Zj...,"[Adventure, Biography, Drama]",https://m.media-amazon.com/images/M/MV5BYWY5Zj...,8.3,top98,1962,tt0056172,https://www.imdb.com/title/tt0056172
98,99,Citizen Kane,Following the death of publishing tycoon Charl...,https://m.media-amazon.com/images/M/MV5BYjBiOT...,https://m.media-amazon.com/images/M/MV5BYjBiOT...,"[Drama, Mystery]",https://m.media-amazon.com/images/M/MV5BYjBiOT...,8.3,top99,1941,tt0033467,https://www.imdb.com/title/tt0033467
99,100,M,When the police in a German city are unable to...,https://m.media-amazon.com/images/M/MV5BODA4OD...,https://m.media-amazon.com/images/M/MV5BODA4OD...,"[Crime, Mystery, Thriller]",https://m.media-amazon.com/images/M/MV5BODA4OD...,8.3,top100,1931,tt0022100,https://www.imdb.com/title/tt0022100

In [7]:
df[['rank','title','description','rating','year']]

,rank,title,description,rating,year
0,1,The Shawshank Redemption,Two imprisoned men bond over a number of years...,9.3,1994
1,2,The Godfather,The aging patriarch of an organized crime dyna...,9.2,1972
2,3,The Dark Knight,When the menace known as the Joker wreaks havo...,9.0,2008
3,4,The Godfather Part II,The early life and career of Vito Corleone in ...,9.0,1974
4,5,12 Angry Men,The jury in a New York City murder trial is fr...,9.0,1957
...,...,...,...,...,...
95,96,Reservoir Dogs,When a simple jewelry heist goes horribly wron...,8.3,1992
96,97,Ikiru,A bureaucrat tries to find meaning in his life...,8.3,1952
97,98,Lawrence of Arabia,"The story of T.E. Lawrence, the English office...",8.3,1962
98,99,Citizen Kane,Following the death of publishing tycoon Charl...,8.3,1941
99,100,M,When the police in a German city are unable to...,8.3,1931

In [8]:
df.to_csv('top100_imdb_movies.csv')

### T20 Wc 'List of Matches'
-> https://rapidapi.com/contactteamrkg/api/t20-world-cup1/playground/apiendpoint_eb144958-647a-42db-865a-5da31a96be73

In [9]:
import requests

url = "https://t20-world-cup1.p.rapidapi.com/api/v1/matches"

headers = {
	"x-rapidapi-key": "5e4a1a92dbmsh94603293ef6a7b4p16b891jsn3594df6380e4",
	"x-rapidapi-host": "t20-world-cup1.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

response.json()

[{'startDate': '6/2/2024T06:00:00+05:30',
  'dayNight': True,
  'group': 'A',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239603',
  'matchNumber': 'Match 1',
  'matchResult': 'USA beat Canada by 7 wickets',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/2/2024',
  'matchDateIST': '6/2/2024',
  'matchTimeGMT': '00:30',
  'matchTimeIST': '06:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '22', 'name': 'USA', 'shortName': 'USA'},
  'teamB': {'teamId': '12', 'name': 'Canada', 'shortName': 'CAN'},
  'upcoming': False,
  'venueId': '2367',
  'venue': 'Grand Prairie Cricket Stadium, Dallas',
  'country': 'USA',
  'winningMargin': '7 wickets',
  'winningTeamId': '22',
  'tossElectedTo': 'field',
  'tossWonBy': '22',
  'seriesType': 'Tournament',
  'currentInnings': '2',
  'hasSuperOver': False,
  'scores': [{'inningNo': '1',
    'teamId': '12',
    'teamName': 'Canada',
    'teamShortName': 'CAN',
    'teamRuns': '194',
    'teamWickets': '5',
    'teamOvers': '20.0',
    'runRate': '9.70'},
   {'inningNo': '2',
    'teamId': '22',
    'teamName': 'USA',
    'teamShortName': 'USA',
    'teamRuns': '197',
    'teamWickets': '3',
    'teamOvers': '17.4',
    'runRate': '11.15'}],
  'award': [{'player_id': 66237,
    'player_name': 'Aaron Jones',
    'team_id': 22,
    'award_type': 1}]},
 {'startDate': '6/2/2024T20:00:00+05:30',
  'dayNight': False,
  'group': 'C',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239604',
  'matchNumber': 'Match 2',
  'matchResult': 'West Indies beat Papua New Guinea by 5 wickets',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/2/2024',
  'matchDateIST': '6/2/2024',
  'matchTimeGMT': '14:30',
  'matchTimeIST': '20:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '9', 'name': 'West Indies', 'shortName': 'WI'},
  'teamB': {'teamId': '750', 'name': 'Papua New Guinea', 'shortName': 'PNG'},
  'upcoming': False,
  'venueId': '179',
  'venue': 'Guyana National Stadium, Guyana',
  'country': 'West Indies',
  'winningMargin': '5 wickets',
  'winningTeamId': '9',
  'tossElectedTo': 'field',
  'tossWonBy': '9',
  'seriesType': 'Tournament',
  'currentInnings': '2',
  'hasSuperOver': False,
  'scores': [{'inningNo': '1',
    'teamId': '750',
    'teamName': 'Papua New Guinea',
    'teamShortName': 'PNG',
    'teamRuns': '136',
    'teamWickets': '8',
    'teamOvers': '20.0',
    'runRate': '6.80'},
   {'inningNo': '2',
    'teamId': '9',
    'teamName': 'West Indies',
    'teamShortName': 'WI',
    'teamRuns': '137',
    'teamWickets': '5',
    'teamOvers': '19.0',
    'runRate': '7.21'}],
  'award': [{'player_id': 58071,
    'player_name': 'Roston Chase',
    'team_id': 9,
    'award_type': 1}]},
 {'startDate': '6/3/2024T06:00:00+05:30',
  'dayNight': True,
  'group': 'B',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239605',
  'matchNumber': 'Match 3',
  'matchResult': 'Oman tied with Namibia (Namibia win Super Over by 11 runs)',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/3/2024',
  'matchDateIST': '6/3/2024',
  'matchTimeGMT': '00:30',
  'matchTimeIST': '06:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '20', 'name': 'Namibia', 'shortName': 'NAM'},
  'teamB': {'teamId': '28', 'name': 'Oman', 'shortName': 'OMA'},
  'upcoming': False,
  'venueId': '82',
  'venue': 'Kensington Oval, Bridgetown, Barbados',
  'country': 'West Indies',
  'winningMargin': '11 runs',
  'winningTeamId': '20',
  'tossElectedTo': 'field',
  'tossWonBy': '20',
  'seriesType': 'Tournament',
  'currentInnings': 'SO2',
  'hasSuperOver': True,
  'scores': [{'inningNo': '1',
    'teamId': '28',
    'teamName': 'Oman',
    'teamShortName': 'OMA',
    'teamRuns': '109',
    'teamWickets': '10',
    'teamOvers': '19.4',
    'runRate': '5.54'},
   {'inningNo': '2',
    'teamId': '20',
    'teamName': 'Namibia',
    'teamShortName': 'NAM',
    'teamRuns': '109',
    'teamWickets': '6',
    'teamOvers': '20.0',
    'runRate': '5.45'},
   {'inningNo': 'SO1',
    'teamId': '20',
    'teamName': 'Namibia',
    'teamShortName': 'NAM',
    'teamRuns': '21',
    'teamWickets': '0',
    'teamOvers': '1.0',
    'runRate': '21.00'},
   {'inningNo': 'SO2',
    'teamId': '28',
    'teamName': 'Oman',
    'teamShortName': 'OMA',
    'teamRuns': '10',
    'teamWickets': '1',
    'teamOvers': '1.0',
    'runRate': '10.00'}],
  'award': [{'player_id': 45853,
    'player_name': 'David Wiese',
    'team_id': 20,
    'award_type': 1}]},
 {'startDate': '6/3/2024T20:00:00+05:30',
  'dayNight': False,
  'group': 'D',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239606',
  'matchNumber': 'Match 4',
  'matchResult': 'South Africa beat Sri Lanka by 6 wickets',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/3/2024',
  'matchDateIST': '6/3/2024',
  'matchTimeGMT': '14:30',
  'matchTimeIST': '20:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '8', 'name': 'Sri Lanka', 'shortName': 'SL'},
  'teamB': {'teamId': '7', 'name': 'South Africa', 'shortName': 'SA'},
  'upcoming': False,
  'venueId': '2518',
  'venue': 'Nassau County International Cricket Stadium, New York',
  'country': 'USA',
  'winningMargin': '6 wickets',
  'winningTeamId': '7',
  'tossElectedTo': 'bat',
  'tossWonBy': '8',
  'seriesType': 'Tournament',
  'currentInnings': '2',
  'hasSuperOver': False,
  'scores': [{'inningNo': '1',
    'teamId': '8',
    'teamName': 'Sri Lanka',
    'teamShortName': 'SL',
    'teamRuns': '77',
    'teamWickets': '10',
    'teamOvers': '19.1',
    'runRate': '4.02'},
   {'inningNo': '2',
    'teamId': '7',
    'teamName': 'South Africa',
    'teamShortName': 'SA',
    'teamRuns': '80',
    'teamWickets': '4',
    'teamOvers': '16.2',
    'runRate': '4.90'}],
  'award': [{'player_id': 63641,
    'player_name': 'Anrich Nortje',
    'team_id': 7,
    'award_type': 1}]},
 {'startDate': '6/4/2024T06:00:00+05:30',
  'dayNight': True,
  'group': 'C',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239607',
  'matchNumber': 'Match 5',
  'matchResult': 'Afghanistan beat Uganda by 125 runs',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/4/2024',
  'matchDateIST': '6/4/2024',
  'matchTimeGMT': '00:30',
  'matchTimeIST': '06:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '1188', 'name': 'Afghanistan', 'shortName': 'AFG'},
  'teamB': {'teamId': '29', 'name': 'Uganda', 'shortName': 'UGA'},
  'upcoming': False,
  'venueId': '179',
  'venue': 'Guyana National Stadium, Guyana',
  'country': 'West Indies',
  'winningMargin': '125 runs',
  'winningTeamId': '1188',
  'tossElectedTo': 'field',
  'tossWonBy': '29',
  'seriesType': 'Tournament',
  'currentInnings': '2',
  'hasSuperOver': False,
  'scores': [{'inningNo': '1',
    'teamId': '1188',
    'teamName': 'Afghanistan',
    'teamShortName': 'AFG',
    'teamRuns': '183',
    'teamWickets': '5',
    'teamOvers': '20.0',
    'runRate': '9.15'},
   {'inningNo': '2',
    'teamId': '29',
    'teamName': 'Uganda',
    'teamShortName': 'UGA',
    'teamRuns': '58',
    'teamWickets': '10',
    'teamOvers': '16.0',
    'runRate': '3.63'}],
  'award': [{'player_id': 67927,
    'player_name': 'Fazalhaq Farooqi',
    'team_id': 1188,
    'award_type': 1}]},
 {'startDate': '6/4/2024T20:00:00+05:30',
  'dayNight': False,
  'group': 'B',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239608',
  'matchNumber': 'Match 6',
  'matchResult': 'Match Abandoned',
  'matchStatus': 'Match Abandoned',
  'matchDateGMT': '6/4/2024',
  'matchDateIST': '6/4/2024',
  'matchTimeGMT': '14:30',
  'matchTimeIST': '20:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '3', 'name': 'England', 'shortName': 'ENG'},
  'teamB': {'teamId': '16', 'name': 'Scotland', 'shortName': 'SCO'},
  'upcoming': False,
  'venueId': '82',
  'venue': 'Kensington Oval, Bridgetown, Barbados',
  'country': 'West Indies',
  'winningMargin': '',
  'winningTeamId': '',
  'tossElectedTo': 'bat',
  'tossWonBy': '16',
  'seriesType': 'Tournament',
  'currentInnings': '1',
  'hasSuperOver': False,
  'scores': [{'inningNo': '1',
    'teamId': '16',
    'teamName': 'Scotland',
    'teamShortName': 'SCO',
    'teamRuns': '90',
    'teamWickets': '0',
    'teamOvers': '10.0',
    'runRate': '9.00'}],
  'award': None},
 {'startDate': '6/4/2024T21:00:00+05:30',
  'dayNight': False,
  'group': 'D',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239609',
  'matchNumber': 'Match 7',
  'matchResult': 'Netherlands beat Nepal by 6 wickets',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/4/2024',
  'matchDateIST': '6/4/2024',
  'matchTimeGMT': '15:30',
  'matchTimeIST': '21:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '15', 'name': 'Netherlands', 'shortName': 'NED'},
  'teamB': {'teamId': '637', 'name': 'Nepal', 'shortName': 'NEP'},
  'upcoming': False,
  'venueId': '2367',
  'venue': 'Grand Prairie Cricket Stadium, Dallas',
  'country': 'USA',
  'winningMargin': '6 wickets',
  'winningTeamId': '15',
  'tossElectedTo': 'field',
  'tossWonBy': '15',
  'seriesType': 'Tournament',
  'currentInnings': '2',
  'hasSuperOver': False,
  'scores': [{'inningNo': '1',
    'teamId': '637',
    'teamName': 'Nepal',
    'teamShortName': 'NEP',
    'teamRuns': '106',
    'teamWickets': '10',
    'teamOvers': '19.2',
    'runRate': '5.48'},
   {'inningNo': '2',
    'teamId': '15',
    'teamName': 'Netherlands',
    'teamShortName': 'NED',
    'teamRuns': '109',
    'teamWickets': '4',
    'teamOvers': '18.4',
    'runRate': '5.84'}],
  'award': [{'player_id': 72579,
    'player_name': 'Tim Pringle',
    'team_id': 15,
    'award_type': 1}]},
 {'startDate': '6/5/2024T20:00:00+05:30',
  'dayNight': False,
  'group': 'A',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239610',
  'matchNumber': 'Match 8',
  'matchResult': 'India beat Ireland by 8 wickets',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/5/2024',
  'matchDateIST': '6/5/2024',
  'matchTimeGMT': '14:30',
  'matchTimeIST': '20:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '4', 'name': 'India', 'shortName': 'IND'},
  'teamB': {'teamId': '13', 'name': 'Ireland', 'shortName': 'IRE'},
  'upcoming': False,
  'venueId': '2518',
  'venue': 'Nassau County International Cricket Stadium, New York',
  'country': 'USA',
  'winningMargin': '8 wickets',
  'winningTeamId': '4',
  'tossElectedTo': 'field',
  'tossWonBy': '4',
  'seriesType': 'Tournament',
  'currentInnings': '2',
  'hasSuperOver': False,
  'scores': [{'inningNo': '1',
    'teamId': '13',
    'teamName': 'Ireland',
    'teamShortName': 'IRE',
    'teamRuns': '96',
    'teamWickets': '10',
    'teamOvers': '16.0',
    'runRate': '6.00'},
   {'inningNo': '2',
    'teamId': '4',
    'teamName': 'India',
    'teamShortName': 'IND',
    'teamRuns': '97',
    'teamWickets': '2',
    'teamOvers': '12.2',
    'runRate': '7.86'}],
  'award': [{'player_id': 63755,
    'player_name': 'Jasprit Bumrah',
    'team_id': 4,
    'award_type': 1}]},
 {'startDate': '6/6/2024T05:00:00+05:30',
  'dayNight': True,
  'group': 'C',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239611',
  'matchNumber': 'Match 9',
  'matchResult': 'Uganda beat Papua New Guinea by 3 wickets',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/5/2024',
  'matchDateIST': '6/6/2024',
  'matchTimeGMT': '23:30',
  'matchTimeIST': '05:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '750', 'name': 'Papua New Guinea', 'shortName': 'PNG'},
  'teamB': {'teamId': '29', 'name': 'Uganda', 'shortName': 'UGA'},
  'upcoming': False,
  'venueId': '179',
  'venue': 'Guyana National Stadium, Guyana',
  'country': 'West Indies',
  'winningMargin': '3 wickets',
  'winningTeamId': '29',
  'tossElectedTo': 'field',
  'tossWonBy': '29',
  'seriesType': 'Tournament',
  'currentInnings': '2',
  'hasSuperOver': False,
  'scores': [{'inningNo': '1',
    'teamId': '750',
    'teamName': 'Papua New Guinea',
    'teamShortName': 'PNG',
    'teamRuns': '77',
    'teamWickets': '10',
    'teamOvers': '19.1',
    'runRate': '4.02'},
   {'inningNo': '2',
    'teamId': '29',
    'teamName': 'Uganda',
    'teamShortName': 'UGA',
    'teamRuns': '78',
    'teamWickets': '7',
    'teamOvers': '18.2',
    'runRate': '4.25'}],
  'award': [{'player_id': 69983,
    'player_name': 'Riazat Ali Shah',
    'team_id': 29,
    'award_type': 1}]},
 {'startDate': '6/6/2024T06:00:00+05:30',
  'dayNight': True,
  'group': 'B',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239612',
  'matchNumber': 'Match 10',
  'matchResult': 'Australia beat Oman by 39 runs',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/6/2024',
  'matchDateIST': '6/6/2024',
  'matchTimeGMT': '00:30',
  'matchTimeIST': '06:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '1', 'name': 'Australia', 'shortName': 'AUS'},
  'teamB': {'teamId': '28', 'name': 'Oman', 'shortName': 'OMA'},
  'upcoming': False,
  'venueId': '82',
  'venue': 'Kensington Oval, Bridgetown, Barbados',
  'country': 'West Indies',
  'winningMargin': '39 runs',
  'winningTeamId': '1',
  'tossElectedTo': 'field',
  'tossWonBy': '28',
  'seriesType': 'Tournament',
  'currentInnings': '2',
  'hasSuperOver': False,
  'scores': [{'inningNo': '1',
    'teamId': '1',
    'teamName': 'Australia',
    'teamShortName': 'AUS',
    'teamRuns': '164',
    'teamWickets': '5',
    'teamOvers': '20.0',
    'runRate': '8.20'},
   {'inningNo': '2',
    'teamId': '28',
    'teamName': 'Oman',
    'teamShortName': 'OMA',
    'teamRuns': '125',
    'teamWickets': '9',
    'teamOvers': '20.0',
    'runRate': '6.25'}],
  'award': [{'player_id': 4311,
    'player_name': 'Marcus Stoinis',
    'team_id': 1,
    'award_type': 1}]},
 {'startDate': '6/6/2024T21:00:00+05:30',
  'dayNight': False,
  'group': 'A',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239613',
  'matchNumber': 'Match 11',
  'matchResult': 'Pakistan tied with USA (USA win Super Over by 5 runs)',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/6/2024',
  'matchDateIST': '6/6/2024',
  'matchTimeGMT': '15:30',
  'matchTimeIST': '21:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '22', 'name': 'USA', 'shortName': 'USA'},
  'teamB': {'teamId': '6', 'name': 'Pakistan', 'shortName': 'PAK'},
  'upcoming': False,
  'venueId': '2367',
  'venue': 'Grand Prairie Cricket Stadium, Dallas',
  'country': 'USA',
  'winningMargin': '5 runs',
  'winningTeamId': '22',
  'tossElectedTo': 'field',
  'tossWonBy': '22',
  'seriesType': 'Tournament',
  'currentInnings': 'SO2',
  'hasSuperOver': True,
  'scores': [{'inningNo': '1',
    'teamId': '6',
    'teamName': 'Pakistan',
    'teamShortName': 'PAK',
    'teamRuns': '159',
    'teamWickets': '7',
    'teamOvers': '20.0',
    'runRate': '7.95'},
   {'inningNo': '2',
    'teamId': '22',
    'teamName': 'USA',
    'teamShortName': 'USA',
    'teamRuns': '159',
    'teamWickets': '3',
    'teamOvers': '20.0',
    'runRate': '7.95'},
   {'inningNo': 'SO1',
    'teamId': '22',
    'teamName': 'USA',
    'teamShortName': 'USA',
    'teamRuns': '18',
    'teamWickets': '1',
    'teamOvers': '1.0',
    'runRate': '18.00'},
   {'inningNo': 'SO2',
    'teamId': '6',
    'teamName': 'Pakistan',
    'teamShortName': 'PAK',
    'teamRuns': '13',
    'teamWickets': '1',
    'teamOvers': '1.0',
    'runRate': '13.00'}],
  'award': [{'player_id': 70336,
    'player_name': 'Monank Patel',
    'team_id': 22,
    'award_type': 1}]},
 {'startDate': '6/7/2024T00:30:00+05:30',
  'dayNight': True,
  'group': 'B',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239614',
  'matchNumber': 'Match 12',
  'matchResult': 'Scotland beat Namibia by 5 wickets',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/6/2024',
  'matchDateIST': '6/7/2024',
  'matchTimeGMT': '19:00',
  'matchTimeIST': '00:30',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '20', 'name': 'Namibia', 'shortName': 'NAM'},
  'teamB': {'teamId': '16', 'name': 'Scotland', 'shortName': 'SCO'},
  'upcoming': False,
  'venueId': '82',
  'venue': 'Kensington Oval, Bridgetown, Barbados',
  'country': 'West Indies',
  'winningMargin': '5 wickets',
  'winningTeamId': '16',
  'tossElectedTo': 'bat',
  'tossWonBy': '20',
  'seriesType': 'Tournament',
  'currentInnings': '2',
  'hasSuperOver': False,
  'scores': [{'inningNo': '1',
    'teamId': '20',
    'teamName': 'Namibia',
    'teamShortName': 'NAM',
    'teamRuns': '155',
    'teamWickets': '9',
    'teamOvers': '20.0',
    'runRate': '7.75'},
   {'inningNo': '2',
    'teamId': '16',
    'teamName': 'Scotland',
    'teamShortName': 'SCO',
    'teamRuns': '157',
    'teamWickets': '5',
    'teamOvers': '18.3',
    'runRate': '8.49'}],
  'award': [{'player_id': 63917,
    'player_name': 'Michael Leask',
    'team_id': 16,
    'award_type': 1}]},
 {'startDate': '6/7/2024T20:00:00+05:30',
  'dayNight': False,
  'group': 'A',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239615',
  'matchNumber': 'Match 13',
  'matchResult': 'Canada beat Ireland by 12 runs',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/7/2024',
  'matchDateIST': '6/7/2024',
  'matchTimeGMT': '14:30',
  'matchTimeIST': '20:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '12', 'name': 'Canada', 'shortName': 'CAN'},
  'teamB': {'teamId': '13', 'name': 'Ireland', 'shortName': 'IRE'},
  'upcoming': False,
  'venueId': '2518',
  'venue': 'Nassau County International Cricket Stadium, New York',
  'country': 'USA',
  'winningMargin': '12 runs',
  'winningTeamId': '12',
  'tossElectedTo': 'field',
  'tossWonBy': '13',
  'seriesType': 'Tournament',
  'currentInnings': '2',
  'hasSuperOver': False,
  'scores': [{'inningNo': '1',
    'teamId': '12',
    'teamName': 'Canada',
    'teamShortName': 'CAN',
    'teamRuns': '137',
    'teamWickets': '7',
    'teamOvers': '20.0',
    'runRate': '6.85'},
   {'inningNo': '2',
    'teamId': '13',
    'teamName': 'Ireland',
    'teamShortName': 'IRE',
    'teamRuns': '125',
    'teamWickets': '7',
    'teamOvers': '20.0',
    'runRate': '6.25'}],
  'award': [{'player_id': 68433,
    'player_name': 'Nicholas Kirton',
    'team_id': 12,
    'award_type': 1}]},
 {'startDate': '6/8/2024T05:00:00+05:30',
  'dayNight': True,
  'group': 'C',
  'league': 'ICC',
  'compType': 'T20 International - m',
  'matchId': '239616',
  'matchNumber': 'Match 14',
  'matchResult': 'Afghanistan beat New Zealand by 84 runs',
  'matchStatus': 'Match Ended',
  'matchDateGMT': '6/7/2024',
  'matchDateIST': '6/8/2024',
  'matchTimeGMT': '23:30',
  'matchTimeIST': '05:00',
  'matchType': 'T20',
  'seriesName': "ICC Men's T20 World Cup, 2024",
  'stage': 'Group',
  'teamA': {'teamId': '5', 'name': 'New Zealand', 'shortName': 'NZ'},
  'teamB': {'teamId': '1188', 'name': 'Afghanistan', 'shortName': 'AFG'},
  'upcoming': False,
  'venueId': '179',
  'venue': 'Guyana National Stadium, Guyana',
  'country': 'West Indies',
  'winningMargin': '84 runs',
  'winningTeamId': '1188',
  'tossElectedTo': 'field',
  'tossWonBy': '5',
  'seriesType': 'Tournament',
  'currentInnings': '2',

In [10]:
newdf = pd.DataFrame(response.json())

In [11]:
newdf[['matchId','matchNumber','stage','venue','teamA','teamB','matchResult','startDate']].head()

,matchId,matchNumber,stage,venue,teamA,teamB,matchResult,startDate
0,239603,Match 1,Group,"Grand Prairie Cricket Stadium, Dallas","{'teamId': '22', 'name': 'USA', 'shortName': '...","{'teamId': '12', 'name': 'Canada', 'shortName'...",USA beat Canada by 7 wickets,6/2/2024T06:00:00+05:30
1,239604,Match 2,Group,"Guyana National Stadium, Guyana","{'teamId': '9', 'name': 'West Indies', 'shortN...","{'teamId': '750', 'name': 'Papua New Guinea', ...",West Indies beat Papua New Guinea by 5 wickets,6/2/2024T20:00:00+05:30
2,239605,Match 3,Group,"Kensington Oval, Bridgetown, Barbados","{'teamId': '20', 'name': 'Namibia', 'shortName...","{'teamId': '28', 'name': 'Oman', 'shortName': ...",Oman tied with Namibia (Namibia win Super Over...,6/3/2024T06:00:00+05:30
3,239606,Match 4,Group,"Nassau County International Cricket Stadium, N...","{'teamId': '8', 'name': 'Sri Lanka', 'shortNam...","{'teamId': '7', 'name': 'South Africa', 'short...",South Africa beat Sri Lanka by 6 wickets,6/3/2024T20:00:00+05:30
4,239607,Match 5,Group,"Guyana National Stadium, Guyana","{'teamId': '1188', 'name': 'Afghanistan', 'sho...","{'teamId': '29', 'name': 'Uganda', 'shortName'...",Afghanistan beat Uganda by 125 runs,6/4/2024T06:00:00+05:30

- here you can see that 'teamA' and 'teamB' columns are dictionaries
- Hence, their keys must also be a column

- We'll have to first separate each key of the dictionary to a separate column -> done using apply(pd.Series)

In [12]:
teamA_df = newdf['teamA'].apply(pd.Series)
teamA_df.head()

  teamId         name shortName
0     22          USA       USA
1      9  West Indies        WI
2     20      Namibia       NAM
3      8    Sri Lanka        SL
4   1188  Afghanistan       AFG

- You can see that each key of dictionary teamA has now become a separate column
- Now since 'teamB' dictionary also has the same names, we need to rename theses names

In [13]:
teamA_df.columns

Index(['teamId', 'name', 'shortName'], dtype='object')

In [14]:
teamA_df.columns = ['teamA_' + col for col in teamA_df.columns]
teamA_df.head()

  teamA_teamId   teamA_name teamA_shortName
0           22          USA             USA
1            9  West Indies              WI
2           20      Namibia             NAM
3            8    Sri Lanka              SL
4         1188  Afghanistan             AFG

We'll do the same steps for 'teamB'

In [15]:
teamB_df = newdf['teamB'].apply(pd.Series)

In [16]:
teamB_df.head()

  teamId              name shortName
0     12            Canada       CAN
1    750  Papua New Guinea       PNG
2     28              Oman       OMA
3      7      South Africa        SA
4     29            Uganda       UGA

In [17]:
teamB_df.columns = ['teamB_' + col for col in teamB_df.columns]

In [18]:
teamB_df.head()

  teamB_teamId        teamB_name teamB_shortName
0           12            Canada             CAN
1          750  Papua New Guinea             PNG
2           28              Oman             OMA
3            7      South Africa              SA
4           29            Uganda             UGA

Now combining the new columns with our dataset (columnwise concatenation, hence axis = 1)

In [19]:
newdf = pd.concat([newdf,teamA_df, teamB_df],axis = 1)

In [20]:
newdf.head()

,startDate,dayNight,group,league,compType,matchId,matchNumber,matchResult,matchStatus,matchDateGMT,...,currentInnings,hasSuperOver,scores,award,teamA_teamId,teamA_name,teamA_shortName,teamB_teamId,teamB_name,teamB_shortName
0,6/2/2024T06:00:00+05:30,True,A,ICC,T20 International - m,239603,Match 1,USA beat Canada by 7 wickets,Match Ended,6/2/2024,...,2,False,"[{'inningNo': '1', 'teamId': '12', 'teamName':...","[{'player_id': 66237, 'player_name': 'Aaron Jo...",22,USA,USA,12,Canada,CAN
1,6/2/2024T20:00:00+05:30,False,C,ICC,T20 International - m,239604,Match 2,West Indies beat Papua New Guinea by 5 wickets,Match Ended,6/2/2024,...,2,False,"[{'inningNo': '1', 'teamId': '750', 'teamName'...","[{'player_id': 58071, 'player_name': 'Roston C...",9,West Indies,WI,750,Papua New Guinea,PNG
2,6/3/2024T06:00:00+05:30,True,B,ICC,T20 International - m,239605,Match 3,Oman tied with Namibia (Namibia win Super Over...,Match Ended,6/3/2024,...,SO2,True,"[{'inningNo': '1', 'teamId': '28', 'teamName':...","[{'player_id': 45853, 'player_name': 'David Wi...",20,Namibia,NAM,28,Oman,OMA
3,6/3/2024T20:00:00+05:30,False,D,ICC,T20 International - m,239606,Match 4,South Africa beat Sri Lanka by 6 wickets,Match Ended,6/3/2024,...,2,False,"[{'inningNo': '1', 'teamId': '8', 'teamName': ...","[{'player_id': 63641, 'player_name': 'Anrich N...",8,Sri Lanka,SL,7,South Africa,SA
4,6/4/2024T06:00:00+05:30,True,C,ICC,T20 International - m,239607,Match 5,Afghanistan beat Uganda by 125 runs,Match Ended,6/4/2024,...,2,False,"[{'inningNo': '1', 'teamId': '1188', 'teamName...","[{'player_id': 67927, 'player_name': 'Fazalhaq...",1188,Afghanistan,AFG,29,Uganda,UGA

In [21]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   startDate        55 non-null     object
 1   dayNight         55 non-null     bool
 2   group            55 non-null     object
 3   league           55 non-null     object
 4   compType         55 non-null     object
 5   matchId          55 non-null     object
 6   matchNumber      55 non-null     object
 7   matchResult      55 non-null     object
 8   matchStatus      55 non-null     object
 9   matchDateGMT     55 non-null     object
 10  matchDateIST     55 non-null     object
 11  matchTimeGMT     55 non-null     object
 12  matchTimeIST     55 non-null     object
 13  matchType        55 non-null     object
 14  seriesName       55 non-null     object
 15  stage            55 non-null     object
 16  teamA            55 non-null     object
 17  teamB            55 non-null     object
 18  upcoming         55 non-null     bool
 19  venueId          55 non-null     object
 20  venue            55 non-null     object
 21  country          55 non-null     object
 22  winningMargin    55 non-null     object
 23  winningTeamId    55 non-null     object
 24  tossElectedTo    55 non-null     object
 25  tossWonBy        55 non-null     object
 26  seriesType       55 non-null     object
 27  currentInnings   55 non-null     object
 28  hasSuperOver     55 non-null     bool
 29  scores           55 non-null     object
 30  award            51 non-null     object
 31  teamA_teamId     55 non-null     object
 32  teamA_name       55 non-null     object
 33  teamA_shortName  55 non-null     object
 34  teamB_teamId     55 non-null     object
 35  teamB_name       55 non-null     object
 36  teamB_shortName  55 non-null     object
dtypes: bool(3), object(34)
memory usage: 14.9+ KB

NOTE: Here dtype of startdate is object. It should be datetime

In [22]:
newdf['startDate'] = pd.to_datetime(newdf['startDate'],errors = 'coerce')

In [23]:
newdf['startDate'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 55 entries, 0 to 54
Series name: startDate
Non-Null Count  Dtype
--------------  -----
55 non-null     datetime64[ns, UTC+05:30]
dtypes: datetime64[ns, UTC+05:30](1)
memory usage: 572.0 bytes

In [24]:
final_df = newdf[['matchId','matchNumber','teamA_shortName','teamB_shortName','matchResult','startDate','stage','venue']]

In [25]:
final_df

,matchId,matchNumber,teamA_shortName,teamB_shortName,matchResult,startDate,stage,venue
0,239603,Match 1,USA,CAN,USA beat Canada by 7 wickets,2024-06-02 06:00:00+05:30,Group,"Grand Prairie Cricket Stadium, Dallas"
1,239604,Match 2,WI,PNG,West Indies beat Papua New Guinea by 5 wickets,2024-06-02 20:00:00+05:30,Group,"Guyana National Stadium, Guyana"
2,239605,Match 3,NAM,OMA,Oman tied with Namibia (Namibia win Super Over...,2024-06-03 06:00:00+05:30,Group,"Kensington Oval, Bridgetown, Barbados"
3,239606,Match 4,SL,SA,South Africa beat Sri Lanka by 6 wickets,2024-06-03 20:00:00+05:30,Group,"Nassau County International Cricket Stadium, N..."
4,239607,Match 5,AFG,UGA,Afghanistan beat Uganda by 125 runs,2024-06-04 06:00:00+05:30,Group,"Guyana National Stadium, Guyana"
5,239608,Match 6,ENG,SCO,Match Abandoned,2024-06-04 20:00:00+05:30,Group,"Kensington Oval, Bridgetown, Barbados"
6,239609,Match 7,NED,NEP,Netherlands beat Nepal by 6 wickets,2024-06-04 21:00:00+05:30,Group,"Grand Prairie Cricket Stadium, Dallas"
7,239610,Match 8,IND,IRE,India beat Ireland by 8 wickets,2024-06-05 20:00:00+05:30,Group,"Nassau County International Cricket Stadium, N..."
8,239611,Match 9,PNG,UGA,Uganda beat Papua New Guinea by 3 wickets,2024-06-06 05:00:00+05:30,Group,"Guyana National Stadium, Guyana"
9,239612,Match 10,AUS,OMA,Australia beat Oman by 39 runs,2024-06-06 06:00:00+05:30,Group,"Kensington Oval, Bridgetown, Barbados"
10,239613,Match 11,USA,PAK,Pakistan tied with USA (USA win Super Over by ...,2024-06-06 21:00:00+05:30,Group,"Grand Prairie Cricket Stadium, Dallas"
11,239614,Match 12,NAM,SCO,Scotland beat Namibia by 5 wickets,2024-06-07 00:30:00+05:30,Group,"Kensington Oval, Bridgetown, Barbados"
12,239615,Match 13,CAN,IRE,Canada beat Ireland by 12 runs,2024-06-07 20:00:00+05:30,Group,"Nassau County International Cricket Stadium, N..."
13,239616,Match 14,NZ,AFG,Afghanistan beat New Zealand by 84 runs,2024-06-08 05:00:00+05:30,Group,"Guyana National Stadium, Guyana"
14,239617,Match 15,SL,BAN,Bangladesh beat Sri Lanka by 2 wickets,2024-06-08 06:00:00+05:30,Group,"Grand Prairie Cricket Stadium, Dallas"
15,239618,Match 16,NED,SA,South Africa beat Netherlands by 4 wickets,2024-06-08 20:00:00+05:30,Group,"Nassau County International Cricket Stadium, N..."
16,239619,Match 17,AUS,ENG,Australia beat England by 36 runs,2024-06-08 22:30:00+05:30,Group,"Kensington Oval, Bridgetown, Barbados"
17,239620,Match 18,WI,UGA,West Indies beat Uganda by 134 runs,2024-06-09 06:00:00+05:30,Group,"Guyana National Stadium, Guyana"
18,239621,Match 19,IND,PAK,India beat Pakistan by 6 runs,2024-06-09 20:00:00+05:30,Group,"Nassau County International Cricket Stadium, N..."
19,239622,Match 20,OMA,SCO,Scotland beat Oman by 7 wickets,2024-06-09 22:30:00+05:30,Group,"Sir Vivian Richards Stadium, North Sound, Antigua"
20,239623,Match 21,SA,BAN,South Africa beat Bangladesh by 4 runs,2024-06-10 20:00:00+05:30,Group,"Nassau County International Cricket Stadium, N..."
21,239624,Match 22,PAK,CAN,Pakistan beat Canada by 7 wickets,2024-06-11 20:00:00+05:30,Group,"Nassau County International Cricket Stadium, N..."
22,239625,Match 23,SL,NEP,Match Abandoned,2024-06-12 05:00:00+05:30,Group,"Central Broward Park & Broward County Stadium,..."
23,239626,Match 24,AUS,NAM,Australia beat Namibia by 9 wickets,2024-06-12 06:00:00+05:30,Group,"Sir Vivian Richards Stadium, North Sound, Antigua"
24,239627,Match 25,USA,IND,India beat USA by 7 wickets,2024-06-12 20:00:00+05:30,Group,"Nassau County International Cricket Stadium, N..."
25,239628,Match 26,WI,NZ,West Indies beat New Zealand by 13 runs,2024-06-13 06:00:00+05:30,Group,"Brian Lara Cricket Academy, Tarouba"
26,239630,Match 27,BAN,NED,Bangladesh beat Netherlands by 25 runs,2024-06-13 20:00:00+05:30,Group,"Arnos Vale Ground, Arnos Vale, St Vincent"
27,239629,Match 28,ENG,OMA,England beat Oman by 8 wickets,2024-06-14 00:30:00+05:30,Group,"Sir Vivian Richards Stadium, North Sound, Antigua"
28,239631,Match 29,AFG,PNG,Afghanistan beat Papua New Guinea by 7 wickets,2024-06-14 06:00:00+05:30,Group,"Brian Lara Cricket Academy, Tarouba"
29,239632,Match 30,USA,IRE,Match Abandoned,2024-06-14 20:00:00+05:30,Group,"Central Broward Park & Broward County Stadium,..."
30,239633,Match 31,SA,NEP,South Africa beat Nepal by 1 run,2024-06-15 05:00:00+05:30,Group,"Arnos Vale Ground, Arnos Vale, St Vincent"
31,239634,Match 32,NZ,UGA,New Zealand beat Uganda by 9 wickets,2024-06-15 06:00:00+05:30,Group,"Brian Lara Cricket Academy, Tarouba"
32,239635,Match 33,IND,CAN,Match Abandoned,2024-06-15 20:00:00+05:30,Group,"Central Broward Park & Broward County Stadium,..."
33,239636,Match 34,NAM,ENG,England beat Namibia by 41 runs (DLS method),2024-06-15 22:30:00+05:30,Group,"Sir Vivian Richards Stadium, North Sound, Antigua"
34,239637,Match 35,AUS,SCO,Australia beat Scotland by 5 wickets,2024-06-16 06:00:00+05:30,Group,"Daren Sammy National Cricket Stadium, Gros Isl..."
35,239638,Match 36,PAK,IRE,Pakistan beat Ireland by 3 wickets,2024-06-16 20:00:00+05:30,Group,"Central Broward Park & Broward County Stadium,..."
36,239639,Match 37,BAN,NEP,Bangladesh beat Nepal by 21 runs,2024-06-17 05:00:00+05:30,Group,"Arnos Vale Ground, Arnos Vale, St Vincent"
37,239640,Match 38,SL,NED,Sri Lanka beat Netherlands by 83 runs,2024-06-17 06:00:00+05:30,Group,"Daren Sammy National Cricket Stadium, Gros Isl..."
38,239641,Match 39,NZ,PNG,New Zealand beat Papua New Guinea by 7 wickets,2024-06-17 20:00:00+05:30,Group,"Brian Lara Cricket Academy, Tarouba"
39,239642,Match 40,WI,AFG,West Indies beat Afghanistan by 104 runs,2024-06-18 06:00:00+05:30,Group,"Daren Sammy National Cricket Stadium, Gros Isl..."
40,239643,Super Eight - Match 1,USA,SA,South Africa beat USA by 18 runs,2024-06-19 20:00:00+05:30,Super Eight,"Sir Vivian Richards Stadium, North Sound, Antigua"
41,239644,Super Eight - Match 2,ENG,WI,England beat West Indies by 8 wickets,2024-06-20 06:00:00+05:30,Super Eight,"Daren Sammy National Cricket Stadium, Gros Isl..."
42,239645,Super Eight - Match 3,AFG,IND,India beat Afghanistan by 47 runs,2024-06-20 20:00:00+05:30,Super Eight,"Kensington Oval, Bridgetown, Barbados"
43,239646,Super Eight - Match 4,AUS,BAN,Australia beat Bangladesh by 28 runs (DLS method),2024-06-21 06:00:00+05:30,Super Eight,"Sir Vivian Richards Stadium, North Sound, Antigua"
44,239647,Super Eight - Match 5,ENG,SA,South Africa beat England by 7 runs,2024-06-21 20:00:00+05:30,Super Eight,"Daren Sammy National Cricket Stadium, Gros Isl..."
45,239648,Super Eight - Match 6,USA,WI,West Indies beat USA by 9 wickets,2024-06-22 06:00:00+05:30,Super Eight,"Kensington Oval, Bridgetown, Barbados"
46,239649,Super Eight - Match 7,IND,BAN,India beat Bangladesh by 50 runs,2024-06-22 20:00:00+05:30,Super Eight,"Sir Vivian Richards Stadium, North Sound, Antigua"
47,239650,Super Eight - Match 8,AFG,AUS,Afghanistan beat Australia by 21 runs,2024-06-23 06:00:00+05:30,Super Eight,"Arnos Vale Ground, Arnos Vale, St Vincent"
48,239651,Super Eight - Match 9,USA,ENG,England beat USA by 10 wickets,2024-06-23 20:00:00+05:30,Super Eight,"Kensington Oval, Bridgetown, Barbados"
49,239652,Super Eight - Match 10,WI,SA,South Africa beat West Indies by 3 wickets (DL...,2024-06-24 06:00:00+05:30,Super Eight,"Sir Vivian Richards Stadium, North Sound, Antigua"
50,239653,Super Eight - Match 11,AUS,IND,India beat Australia by 24 runs,2024-06-24 20:00:00+05:30,Super Eight,"Daren Sammy National Cricket Stadium, Gros Isl..."
51,239654,Super Eight - Match 12,AFG,BAN,Afghanistan beat Bangladesh by 8 runs (DLS met...,2024-06-25 06:00:00+05:30,Super Eight,"Arnos Vale Ground, Arnos Vale, St Vincent"
52,239655,1st Semi-Final,SA,AFG,South Africa beat Afghanistan by 9 wickets,2024-06-27 06:00:00+05:30,Semi Final,"Brian Lara Cricket Academy, Tarouba, Trinidad ..."
53,239656,2nd Semi-Final,IND,ENG,India beat England by 68 runs,2024-06-27 20:00:00+05:30,Semi Final,"Guyana National Stadium, Guyana"
54,239657,Final,SA,IND,India beat South Africa by 7 runs,2024-06-29 20:00:00+05:30,Final,"Kensington Oval, Bridgetown, Barbados"

In [26]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   matchId          55 non-null     object
 1   matchNumber      55 non-null     object
 2   teamA_shortName  55 non-null     object
 3   teamB_shortName  55 non-null     object
 4   matchResult      55 non-null     object
 5   startDate        55 non-null     datetime64[ns, UTC+05:30]
 6   stage            55 non-null     object
 7   venue            55 non-null     object
dtypes: datetime64[ns, UTC+05:30](1), object(7)
memory usage: 3.6+ KB

In [27]:
final_df.to_csv('T20_WC_matches.csv')